dist: bionic
language: node_js
node_js: "18"

services:
  - docker

branches:
  only:
    - master

before_install:
  - sudo apt-get install -y google-cloud-sdk

before_script:
  - gcloud auth activate-service-account --key-file=gcloud-service-key.json
  - gcloud config set project $GOOGLE_PROJECT_ID
  - gcloud config set compute/zone $GOOGLE_COMPUTE_ZONE

jobs:
  include:
    - stage: Test
      name: "Run Backend Tests"
      script:
        - cd backend
        - npm install
        - npm test

    - stage: Backend Deployment
      name: "Run Backend Deployment"
      script:
        - cd gcloud-test-backend
        - gcloud builds submit --tag gcr.io/$GOOGLE_PROJECT_ID/$GCLOUD_REGISTRY_NAME
        - gcloud run deploy $GCLOUD_SERVICE_NAME --image gcr.io/$GOOGLE_PROJECT_ID/$GCLOUD_REGISTRY_NAME --platform managed --region $GOOGLE_COMPUTE_REGION --allow-unauthenticated

      deploy:
        provider: gcloud
        project: $GOOGLE_PROJECT_ID
        keyfile: gcloud-service-key.json
        on:
          branch: main